* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #efefef;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #4b3965;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
    color: #4b3965;
}

header ul li a:hover {
    background-color: #4b3965;
    color: #efefef;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
    padding: 20px 0;
    color: #4b3965;
    margin-bottom: 20px;
}

footer {
    padding: 10px 0;
    background-color: #333;
    color: #666;
    text-align: center;
}

.bg-loader {
    background-color: #efefef;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #efefef;
    border-radius: 50%;
    border-top-color: #4b3965;
    border-right-color: #4b3965;
    border-bottom-color: #4b3965;
    animation: putar .5s linear infinite;
}

.label {
    background-color: #4b3965;
    color: white;
}


/* Cards */

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 8px solid rgba(75, 57, 101, .3);
    border-radius: .25rem;
    margin-bottom: 80px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

img.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
    padding: 1.25rem;
}

.card-footer {
    text-align: center;
    padding: 20px 0;
}

.card-footer .read__more a {
    text-align: center;
    font-size: 18px;
    padding: 0;
    background-color: #5c4b74;
    color: #FFF;
}

.card a:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/* Cards Horizontal */

.card.horizontal {
    min-height: 195px;
}

.card.horizontal .card-img-top {
    position: absolute;
    height: 100%;
    width: 50%;
    border-bottom: 0;
    object-fit: cover;
    object-position: center;
}

.card.horizontal .card-body {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}

.card.horizontal .card-body p.card-text {
    padding-left: 50px;
    padding-top: 50px;
    font-size: 24px;
    text-align: center;
}

.card.horizontal .card-footer {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
}

@keyframes putar {
    100% {
        transform: rotate(360deg);
    }
}