* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #efefef;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #4b3965;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
    color: #4b3965;
}

header ul li a:hover {
    background-color: #4b3965;
    color: #efefef;
}

section {
    padding: 50px 0;
}

footer {
    padding: 10px 0;
    background-color: #333;
    color: #666;
    text-align: center;
}

.bg-loader {
    background-color: #efefef;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #efefef;
    border-radius: 50%;
    border-top-color: #4b3965;
    border-right-color: #4b3965;
    border-bottom-color: #4b3965;
    animation: putar .5s linear infinite;
}

.label {
    background-color: #4b3965;
    color: white;
}

.kontak {
    position: relative;
    min-height: 50vh;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kontak .content {
    max-width: 800px;
    text-align: center;
}

.kontak .content h2 {
    padding: 20px 0;
    font-weight: 500;
    color: #4b3965;
}

.kontak .content p {
    font-weight: 300;
    color: #666;
    padding: 10px;
}

.contain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contain .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contain .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contain .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #333;
    color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contain .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #666;
    flex-direction: column;
    font-weight: 300;
}

.contain .contactInfo .box .text h3 {
    font-weight: 500;
    color: #333;
}

.wrapper {
    padding: 20px;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    min-height: 400px;
    margin: 20px 0;
}

.wrapper .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.wrapper .form .row .input-group {
    padding: 0 10px;
    display: block;
}

.wrapper .form .row .input-group .label {
    padding-left: 0;
}

.wrapper .form .row .input-group .input {
    padding-right: 0;
}

.wrapper .form .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.wrapper .form .input-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.wrapper .form .input-group .btn {
    margin: 20px 0;
    display: block;
    padding: .7rem 2rem;
    opacity: .8;
    color: #FFF;
    background: #00b894;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s ease-in;
}

.wrapper .form .input-group .btn:hover {
    opacity: 1;
}

.wrapper .form .input-group input,
.wrapper .form .input-group textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #00b894;
    outline: none;
    padding: 5px 10px;
}

.wrapper .form .input-group.textarea {
    height: 200px;
}

.wrapper .form .input-group.textarea textarea {
    resize: none;
}

.wrapper .prev-comments {
    margin-top: 50px;
}

.wrapper .prev-comments .single-item {
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    text-align: left;
    margin-bottom: 25px;
}

.wrapper .prev-comments .single-item h4 {
    font-size: 1.3rem;
    font-weight: 800;
    color: #111;
}

.wrapper .prev-comments .single-item a {
    margin: 10px 0;
    font-size: 1rem;
    color: #111;
    text-decoration: none;
    display: inline-block;
}

.wrapper .prev-comments .single-item p {
    font-size: .9rem;
    color: #111;
}

@keyframes putar {
    100% {
        transform: rotate(360deg);
    }
}